<?xml version="1.0" encoding="utf-8" ?>
<c2layout>
    <name>menu</name>
    <sid>468006802464844</sid>
    <event-sheet>menu</event-sheet>
    <size>
        <width>854</width>
        <height>480</height>
    </size>
    <margins>
        <horizontal>500</horizontal>
        <vertical>500</vertical>
    </margins>
    <unbounded-scrolling>0</unbounded-scrolling>
    <layers>
        <layer name="Background" sid="161385463227996">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>0</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="BG_menu" uid="155">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>518.637023926</x>
                        <y>220.111618042</y>
                        <z>0</z>
                        <width>1032</width>
                        <height>439</height>
                        <depth>0</depth>
                        <hotspotX>0.500446022</hotspotX>
                        <hotspotY>0.502057612</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="rmpt" uid="293">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Solid">
                            <properties>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>544.5</x>
                        <y>427</y>
                        <z>0</z>
                        <width>1287</width>
                        <height>158</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.502283096</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="aktor" uid="296">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Pin" />
                        <behavior-instance type="ScrollTo">
                            <properties>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>109.646911621</x>
                        <y>227.818695068</y>
                        <z>0</z>
                        <width>329</width>
                        <height>256</height>
                        <depth>0</depth>
                        <hotspotX>0.500780046</hotspotX>
                        <hotspotY>0.501845002</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="player" uid="295">
                    <properties>
                        <initial-visibility>Invisible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Platform">
                            <properties>
                                <max-speed>330</max-speed>
                                <acceleration>1500</acceleration>
                                <deceleration>1500</deceleration>
                                <jump-strength>900</jump-strength>
                                <gravity>1500</gravity>
                                <max-fall-speed>1000</max-fall-speed>
                                <double-jump>Disabled</double-jump>
                                <jump-sustain>0</jump-sustain>
                                <default-controls>Yes</default-controls>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>96</x>
                        <y>272</y>
                        <z>0</z>
                        <width>18</width>
                        <height>63.329025269</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="t_petualangan" uid="174">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>517</x>
                        <y>71</y>
                        <z>0</z>
                        <width>618</width>
                        <height>135</height>
                        <depth>0</depth>
                        <hotspotX>0.500705242</hotspotX>
                        <hotspotY>0.508474588</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Sprite" uid="157">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>531</x>
                        <y>287</y>
                        <z>0</z>
                        <width>202.161315918</width>
                        <height>266.086730957</height>
                        <depth>0</depth>
                        <hotspotX>0.501694918</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="t_mulai" uid="182">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>531</x>
                        <y>237</y>
                        <z>0</z>
                        <width>113.987121582</width>
                        <height>38.705169678</height>
                        <depth>0</depth>
                        <hotspotX>0.503184736</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="t_petunjuk" uid="183">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>526</x>
                        <y>305</y>
                        <z>0</z>
                        <width>126.807556152</width>
                        <height>39.48638916</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Sprite10" uid="4">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>778</x>
                        <y>317</y>
                        <z>0</z>
                        <width>150</width>
                        <height>222</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Sprite11" uid="5">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>878</x>
                        <y>328.5</y>
                        <z>0</z>
                        <width>173</width>
                        <height>209</height>
                        <depth>0</depth>
                        <hotspotX>0.50289017</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
        <layer name="Touch" sid="190550762239347">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances />
            <effects />
        </layer>
    </layers>
    <nonworld-instances />
    <effects />
</c2layout>
